name: Trivy Security Scan

on:
  push:
    branches:
      - fix/security-avital
  pull_request:
    branches:
      - fix/security-avital

jobs:
  trivy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          severity: CRITICAL,HIGH
